{% extends "layout.html" %}
{% set title = _("Guideline") %}
{% block content %}

{# راستچین #}
<p>
    این فرم در راستای تهیه دیتاستی برای پرسش و پاسخ به زبان پارسی است.
    برای کمک به جمع‌آوری کافی است فرم را پر کرده و آنرا ثبت کنید.
</p>
<p>
    فرم شامل یک تیتر (Title)، بدنه (Context)، هفت جفت سؤال و جواب و سه سؤال بی‌جواب یا غیرممکن (Impossible) است.
    جهت پر کردن فرم پیشنهاد می‌شود از <a href="https://fa.wikipedia.org/">ویکی‌پدیای فارسی</a> کمک بگیرید.
    پس از آن برای پر کردن فرم کافی است مراحل زیر را دنبال کنید.
</p>
<ol>
    <lh>
        مراحل کلی پر کردن فرم:
    </lh><li>
        انتخاب یک مقاله از ویکی‌پدیا
    </li><li>
        رونوشت عینی تیتر مقاله ویکی‌پدیا به عنوان تیتر یا Title فرم
    </li><li>
        انتخاب یک یا دو پاراگراف از منبع و رونوشت آن به عنوان بدنه یا Context فرم
    </li><li>
        طرح سؤالات با توجه به نکات ذکر شده
    </li><li>
        ثبت فرم و دریافت پیغام تأییده (Recoded) که در بالای صفحه نمایش داده می‌شود
    </li>
</ol>
<ul>
    <lh>
        نکات قابل توجه:
    </lh><li>
        جواب هر سؤال باید یک بازه یکپارچه باشد.
    </li><li>
        اگر در متن فقط یک تاریخ یا یک مکان وجود دارد، به علت بدیهیت، راجع به آن سؤالی طرح نکنید.
    </li><li>
        تلاش بر رعایت همه جانبه قوانین نگارشی اعم از گذاشتن علائم نگارشی، رعایت نیم‌فاصله و نداشتن غلط املایی باشد.
    </li><li>
        جواب‌ها را به صورت کامل انتخاب کنید.
    </li><li>
        از طرح سؤالات توضیحی/منطقی‌تر/تشریحی‌تر مانند «چرا» اجتناب کنید.
    </li><li>
        سؤالات بله/خیر طرح نکنید.
    </li><li>
        بهتر است جواب‌ها حداکثر یک خط باشند.
    </li><li>
        بهتر است بدنه حداکثر ۱۱۰۰ حرف باشد.
    </li><li>
        به هیچ عنوان از ضمائر در سؤالات استفاده نکنید. بدون پیش‌فرض و صریح باشید. تصور این باشد که فرد پاسخ دهنده انتظار موضوع را از شما ندارد.
        به طور مثال اگر از درباره درخت سیب سؤال طرح می‌کنید، نپرسید <span class="fst-italic">فلان ویژگی این درخت چیست؟</span>
    </li><li>
        سعی کنید از تکرار مکررات جلوگیری کنید.
        اگر یکی یا چند رفتار تکراری در طرح سؤالات خود مواجهه کردید سعی کنید به اندازه‌ای که آنرا متعادل کند برعکس آن عمل کنید.
        به طور مثال اگر متوجه شدید چهار سؤال را رسمی طرح کرده‌اید، سعی کنید ۳ سؤال دیگر را به صورت عامیانه/غیررسمی بنویسید.
        <ul>
            <lh>
                رفتارهای تکراری احتمالی:
            </lh><li>
                استفاده از زبان عامیانه یا رسمی بیش از حد
            </li><li>
                طرح تمام سؤالات از ابتدا به آخر بدنه
            </li><li>
                استفاده بیش از حد از یک الگو، نوع سؤال (مثلاً درباره چیستی)، زمان و&hellip; در طرح سؤال
            </li>
        </ul>
    </li><li>
        سؤال خوب، سؤال چالش برانگیزتر است. برای چالش برانگیزتر کردن سؤال خود از راه‌های زیر می‌توانید استفاده کنید.
        <ul>
            <lh>
                روش‌های پیچیده‌سازی سؤال:
            </lh><li>
                تغییر زمان سؤال نسبت به متن
                مثلاً در بدنه <span class="fst-italic">ریچارد استالمن برنامه‌نویس کامپیوتر است.</span>
                می‌توانید بپرسید <span class="fst-italic">ریچارد استالمن که بود؟</span>
            </li><li>
                طرح درخواست/دستور به جای سؤال مثلاً به جای <span class="fst-italic">چه مواردی x را مهم می‌کرد؟</span>
                می‌توانید بپرسید <span class="fst-italic">موارد اهمیت x را نام ببرید.</span>
            </li><li>
                استفاده از کلماتی متفاوت با آنچه در متن است آمده است در سؤالات پاسخ‌دار
                مثلاً در بدنه <span class="fst-italic">برای نمونه وام‌واژهٔ آسمان‌خراش که ترجمهٔ تحت‌اللفظی واژهٔ Skyscraper است.</span>
                می‌توانید بپرسید <span class="fst-italic">مثالی (به جای نمونه) از کلمه‌ای‌ (به جای واژه) دخیل (به جای وام‌واژه) در فارسی بنویسید.</span>
            </li><li>
                استفاده از کلماتی مشابه با آنچه در متن آمده است در سؤالات بی‌پاسخ
                مثلاً در بدنه <span class="fst-italic">به دلیل x و y جنبش در حال گسترشی به نام دانشگاه عصر سوم شکل گرفته‌است.</span>
                با فرض اینکه هیچ اطلاعاتی درباره دانشگاه‌های عصر دوم گفته نشده است،
                می‌توانید بپرسید <span class="fst-italic">به چه دلایلی دانشگاه عصر دوم شکل گرفته است؟</span>
            </li><li>
                طرح سؤال به نحوی که جواب عیناً بعد یا قبل از کلماتی در متن نیامده باشد (شبیه به «جای خالی را پر کنید» نشود).
            </li>
        </ul>
        <!-- نیاز به ویرایش از اینجا به پایین -->
    </li><li>
        بهتر است جواب سؤالات تا حد امکان کامل‌تر انتخاب شوند.
    </li><li>
        سؤالات غیرممکن مرتبط به متنن باشد اما جواب آن در متن نباشد (پاسخ دادن آن فقط با تکیه بر متن ممکن نباشد).
        <ul>
            <lh>
                برای طرح سؤالات غیرممکن می‌توانید از الگو‌های زیر کمک بگیرید:
            </lh><li>
                جایگزینی نام موجودیت با آنچه در متن نیست
                مثلاً در بدنه <span class="fst-italic">به دلیل x و y جنبش در حال گسترشی به نام دانشگاه عصر سوم شکل گرفته‌است.</span>
                با فرض اینکه هیچ اطلاعاتی درباره دانشگاه‌های عصر دوم گفته نشده است،
                می‌توانید بپرسید <span class="fst-italic">به چه دلایلی دانشگاه عصر دوم شکل گرفته است؟</span>
            </li><li>
                منفی‌سازی سؤال مثلاً در بدنه
            </li>
        </ul>
    </li>
</ul>
<a href="{{ url_for('form') }}" class="btn btn-primary w-100 mb-3">{{ _("The form") }}</a>
{% endblock content %}
