{% set lang = locale() %}
<!doctype html>
<html class="no-js" lang="{{ lang }}" dir="rtl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title> The collector{% if title %} | {{ title }}{% endif %}</title>
        <meta name="author" content="M. Yas. Davoodeh">
        {# <meta name="description" content=""> #}

        {# <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"> #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

        <style type="text/css">
            {# As usual, lovely RTL breaks everything. #}
            {# Disable borders and border radius of Vanilla Bootstrap for the sake of sanity with RTL corners. #}
            * {
                border-radius: 0 !important;
            }
            .rtl {
                direction: rtl !important;
            }
            .ltr {
                direction: ltr !important;
            }
            .mw {
                width: max-content;
            }
            html[dir="rtl"] .float-end {
                float: left !important;
            }
            {% block style %}{% endblock %}
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row min-vh-100 py-3 align-items-center">
                <div class="col m-auto">
                    {% with messages = get_flashed_messages(with_categories=True) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {% set other_locales = locales(exclude_current=True) %}
                    {% if title or other_locales %}
                        <div class="row align-items-end mb-3">
                            {% if title %}
                            <div class="col">
                                <h1>{{ title }}</h1>
                            </div>
                            {% endif %}
                            {% if not lock_locales and other_locales %}
                                <div class="col">
                                    <div class="input-group input-group-sm float-end mw">
                                        <span class="input-group-text">{{ _('Also available in') }}</span>
                                        {% for locale_name, locale in other_locales.items() %}
                                            {% if lang != locale %}
                                                <a href="{{ url_for_locale(locale) }}" class="btn btn-outline-secondary">{{ _(locale_name) }}</a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <script type="text/javascript">
            // Disable scrolling on number fields
            document.querySelectorAll("input[type='number']").forEach(function(i){
                i.addEventListener("wheel", function(event){
                    event.preventDefault();
                    {# TODO redirect it back to the windows #}
                });
            });
        </script>

        {# <script src="{{ url_for('static', filename='js/jquery.slim.min.js') }}"></script> <!-- TODO DELETE ME --> #}
        {# <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> #}
        {# <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script> #}
        {% block scripts %}{% endblock %}
    </body>
</html>
